header {
  border-bottom: 4px solid goldenrod;
  position: sticky;
  top: 0px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul a {
  text-decoration: none;
}

header .active {
  color: goldenrod;
}
